// color
$color_primary: #409eff;
$color_success: #67c23a;
$color_warning: #e6a23c;
$color_danger: #f56c6c;
$color_info: #909399;

$color_text_primary: #303133;
$color_text_regular: #606266;
$color_text_secondary: #909399;
$color_text_placeholder: #c0c4cc;

$color_border_base: #dcdfe6;
$color_border_light: #e4e7ed;
$color_border_lighter: #ebeef5;
$color_border_extralight: #f2f6fc;
